/* common font style */
body{
    font-family: 'Open Sans', sans-serif;
}
.orange-color{
    color: #FD6E0A;
}
.common-bth{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/* nav var releted style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}
.nav-title{

font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav >ul{
    display:flex ;
    align-items: center;
    /* text-align: center; */
}
ul li{
    list-style: none;
    margin-right: 50px;
}
nav a {
text-decoration: none;
color: #474747;
}
/* header releted style */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .PP{
    width: 500px;
}